<%= form_with model: @exercise do |form| %>
  <% if @exercise&.errors&.full_messages&.any? %>
    <div class="alert alert-danger">
      <ul class="mb-0">
        <% @exercise.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3 mt-4 row">
    <div class="col-sm-1 col-form-label">
      <strong><%= form.label :name %></strong>
    </div>

    <div class="col-sm-9">
      <%= form.text_field :name, class: 'form-control form-control-lg'  %>
    </div>
  </div>
  <br>

  <div class="mb-3 mt-4 row">
    <div class="col-sm-1 col-form-label">
      <strong><%= form.label :description %></strong>
    </div>

    <div class="col-sm-9">
      <%= form.text_field :description, autocomplete: "Description", class: 'form-control form-control-lg'  %>
    </div>
  </div>
  <br>

    <%= form.submit 'Submit', class: 'btn btn-dark' %>
<% end %>