<!DOCTYPE html>
<html>
  <head>
    <title>GymHelper</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>  <%# this loads Sprockets/Rails asset pipeline %>
    <%= javascript_importmap_tags %> <%#  this loads JS from importmaps %>
  </head>

  <nav>
    <div class="logo"></div>

    <ul>
      <li><%= link_to 'Home', root_path, class: 'a' %></li>
      <li><%= link_to 'Training plans', training_plans_path, class: 'a' %></li>
      <li><%= link_to 'Exercises', exercises_path, class: 'a' %></li>
      <% if user_signed_in? %>
        <li><%= button_to "Sign out", destroy_user_session_path,
                          method: :delete, class: 'link a', data: { confirm: "Are you sure?" } %></li>
      <% else %>
        <li><%= link_to "Sign Up", new_user_registration_path, class: 'a' %></li>
        <li><%= link_to "Log in", new_user_session_path, class: 'a' %></li>
      <% end %>
    </ul>
  </nav>
  <header>
    <div class="headline">
      <div class="inner">
        <h1><b><%= page_title(yield(:page_title)) %></b></h1>
        <p>Scroll down the page</p>
      </div>
    </div>
  </header>
  <% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

  <body>
  <div class="container mt-5  mb-5">
    <%= yield %>
  </div>
  <footer>
    <h4>KUVIRLIK ©</h4>
  </footer>
  </body>
</html>